[submodule "/Users/mbrekka/src/golang/src/github.com/marshallbrekka/u2fhost/vendor/github.com/marshallbrekka/go.hid/"]
	path = vendor/github.com/marshallbrekka/go.hid
	url = https://github.com/marshallbrekka/go.hid
